{% extends 'front.html.twig' %}



{% block body %}
    <!doctype html>
    <html lang="en-US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
        <meta name="keywords" content="HTML5 Template">
        <meta name="description" content="Responsive HTML5 Template">
        <meta name="author" content="author.com">
        <title>Responsive HTML5 Template</title>

        <!-- STYLESHEET -->
        <!-- fonts -->
        <link href={{ asset("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800")}} rel="stylesheet">

        <!-- icon -->
        <link rel="stylesheet" href={{ asset('aaassets/fonts/icons/main/mainfont/style.css')}}>
        <link rel="stylesheet" href={{ asset('aaassets/fonts/icons/font-awesome/css/font-awesome.min.css')}}>

        <!-- Vendor -->
        <link rel="stylesheet" href={{ asset("aaassets/vendor/bootstrap/v3/bootstrap.min.css")}}>
        <link rel="stylesheet" href={{ asset("aaassets/vendor/bootstrap/v4/bootstrap-grid.css")}}>
        <!-- Custom -->
        <link rel="stylesheet" href={{ asset("aaassets/css/style.css")}}>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
    <script src={{ asset("https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")}}></script>
    <script src={{ asset("https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")}}></script>
    <![endif]-->
    </head>
    <body>
    <!-- HEADER -->
    <header>

    </header>

    <!-- MAIN -->
    <main>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="container">
            <br>
            <br>



            <div class="nav">
                <div class="nav__categories js-dropdown">
                    <div class="nav__select">
                        <div class="btn-select" data-dropdown-btn="categories">All Categories</div>
                        <nav class="dropdown dropdown--design-01" data-dropdown-list="categories">
                            <ul class="dropdown__catalog row">
                                {% for c in categories %}

                                <li class="col-xs-6"><a href="{{ path('findcategorie') }}" class="category"><i class="bg-4436f8"></i><a href="{{ path('question_index', {'idcategorie': c.id})}}"> {{ c.nameCategorie }}</a></a></li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                    <div class="nav__select">
                        <div class="btn-select" data-dropdown-btn="tags">Tags</div>
                        <div class="dropdown dropdown--design-01" data-dropdown-list="tags">
                            <div class="tags">
                                {% for c in categories %}
                                    {% if c.tag is not null %}
                                <a href="{{ path('findcategorie') }}" class="bg-36b7d7">{{ c.tag }}</a>
                                    {% endif %}
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="d-flex align-items-center">
                <input class="form-control" type="search" id="search" placeholder="Rechercher">
                <a  href="{{ path('rechercheajax') }}"><i class="fa fa-sort"></i></a>
            </div>




                    <div class="posts__head">
                        <div class="posts__topic">Categorie</div>
                        <div class="posts__category"></div>
                        <div class="posts__users">Users</div>
                        <div class="posts__replies">Questions</div>
                        <div class="posts__views">Vues</div>
                        </div>




  <table class="table table-stripe">
  <tbody>
               <tbody id="all">
        {% include 'categorie/Categorieajaxfront.html.twig' %}
                </tbody>
            <tbody align="left" border="2" id="search">
        </tbody>
    </tbody>
</table>



        {{ include('categorie/_form.html.twig') }}

    </main>
    <!-- FOOTER -->
    <footer>
    </footer>

    <!-- JAVA SCRIPT -->
    <script src={{ asset("aaassets/vendor/jquery/jquery.min.js")}}></script>
    <script src={{ asset("aaassets/vendor/velocity/velocity.min.js")}}></script>
    <script src={{ asset("aaassets/js/app.js")}}></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            var currentRequest = null;
            $("#search").keyup(function(e){

                var value = $(this).val();
                if(currentRequest != null) {
                    currentRequest.abort();
                }

                currentRequest = $.ajax({

                    url : "{{ path('rechercheajax') }}",
                    type : 'GET',
                    data: {
                        'searchValue' : value
                    },

                    success : function(retour)
                    {
                        $('#all').html(retour);

                    },
                });
                return false;
            });
        });
    </script>
    </script>

    </body>
    </html>

{% endblock %}

