
{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn">{{ button_label|default('Register Order') }}</button>
<button class="btn">{{ button_label|default('Pay Order Now') }}</button>

{{ form_end(form) }}
