{% for event in events %}
<div class="col-md-'4" >
        <div class="row">

    <a href="{{ path('event_show', { 'id': event.id }) }}" style="color: black">
        <div class="col-md-4">
            <div class="card mb-4 card-shadow ">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{{ asset('assets/images/') }}{{ event.nom_image }}" data-holder-rendered="true">
                <div class="card-body">
                    <strong> <p class="card-text " style="font-size: 20px">{{ event.Nom}}</p></strong>


                    <p class="card-text b">{{ event.description}}</p>
                    <div class="btn-group">
                    </div>
                    <div class="card-footer" style="padding: .80rem 1.5rem">
                        <div class="d-flex justify-content-between align-items-center">



                            <button type="button" class="btn btn-sm btn-primary"><a  href="{{ path('event_participer', { 'id': event.id }) }}">participer</a></button>
                            <button type="button" class="btn btn-sm btn-success"><a href="{{ path('event_signal', { 'id': event.id }) }}">Signaler</a></button>


                                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('event_annuler', { 'id': event.id }) }}">annuler</a></button>


                        </div>
                        <br>
                        {{ event.DateDebut ? event.DateDebut|date('Y-m-d') : '' }}
                    </div>
                </div>
            </div>
        </div>
    </a>
        </div>
{% endfor %}
</div>