
    <!doctype html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Responsive HTML5 Template">
    <meta name="author" content="author.com">
    <title>Responsive HTML5 Template</title>

    <!-- STYLESHEET -->
    <!-- fonts -->
    <link rel="stylesheet" href="{{ asset("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800")}}" >

    <!-- icon -->
    <link rel="stylesheet" href="{{ asset("aassets/fonts/icons/main/mainfont/style.css")}}">
    <link rel="stylesheet" href="{{ asset("aassets/fonts/icons/font-awesome/css/font-awesome.min.css")}}">

    <!-- Vendor -->
    <link rel="stylesheet" href={{ asset("aassets/vendor/bootstrap/v3/bootstrap.min.css")}}>
    <link rel="stylesheet" href={{ asset("aassets/vendor/bootstrap/v4/bootstrap-grid.css")}}>
    <!-- Custom -->
    <link rel="stylesheet" href={{ asset("aassets/css/style.css")}}>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src={{ asset("https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")}}></script>
    <script src={{ asset("https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")}}></script>
    <![endif]-->
</head>
<body>
<!-- HEADER -->
<header>
</header>

<!-- MAIN -->
<main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="create">
            <div class="create__head">
                <div class="create__title"><img src="{{ asset('aassets/fonts/icons/main/New_Topic.svg') }}" alt="New topic">Create New Question</div>
                <span>Forum Guidelines</span>
            </div>
            <div class="create__section">

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="create__section">

                </div>
                <div class="col-md-6">
                    <div class="create__section">

                    </div>
                </div>
            </div>

            <div class="create__advanced">
                <div class="row">
                    <div class="col-lg-4 col-xl-4">
                        <div class="create__section">
                            <div class="create__radio">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3">
                        <div class="create__section">
                            <div class="create__radio">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-5">
                        <div class="create__section">

                            <div class="create__radio">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="create__footer">

            </div>
        </div>

            {{ include('question/_form.html.twig') }}
<table>

    <br>
    <br>

    <tr class="posts" >
        <div class="posts__head">
            <div class="posts__topic">Question</div>
            <div class="posts__category">Catégorie</div>
            <div class="posts__users">Users</div>
            <div class="posts__replies">Réponses</div>
            <div class="posts__views">Vues</div>
    </tr>
        </div>

            {% for question in questions %}

            <div class="posts__body">

                <div class="posts__item bg-f2f4f6">
                    <div class="posts__section-left">
                        <div class="posts__topic">
                            <div class="posts__content">
                                <a href="{{ path('reponse_index', {'idquestion': question.id})}}" class="pn"><h3>{{ question.question }}</h3></a>

                                <div class="posts__tags tags">
                                    {% if question.tag is not null %}
                                    <a href="#" class="bg-36b7d7">{{ question.Tag }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="posts__category"><a href="#" class="category"><i class="bg-4436f8"></i>{{ question.categorie.nameCategorie }}</a></div>
                    </div>
                    <div class="posts__section-right">
                        <div class="posts__users">
                            <div>
                                <a href="#" class="avatar"><img src="{{ asset('aassets/fonts/icons/avatars/L.svg') }}" alt="avatar"></a>
                            </div>
                            <div>
                                <a href="#" class="avatar"><img src="{{ asset('aassets/fonts/icons/avatars/T.svg') }}" alt="avatar"></a>
                            </div>
                        </div>
                        <div class="posts__replies">{{ question.nbrReponse }}</div>
                        <div class="posts__views">
                            {{ question.nbrVue }}

                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </div>
{% endfor %}
</table>
</main>

<!-- FOOTER -->
<footer>

</footer>

<!-- JAVA SCRIPT -->
<script src={{ asset('aassets/vendor/jquery/jquery.min.js')}}></script>
<script src={{ asset('aassets/vendor/velocity/velocity.min.js')}}></script>
<script src={{ asset('aassets/js/app.js')}}></script>

</body>
</html>

