{% extends 'front.html.twig' %}


{% block body %}
<!doctype html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Responsive HTML5 Template">
    <meta name="author" content="author.com">
    <title>Responsive HTML5 Template</title>

    <!-- STYLESHEET -->
    <!-- fonts -->
    <link href={{ asset("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800")}} rel="stylesheet">

    <!-- icon -->
    <link rel="stylesheet" href={{ asset('aaassets/fonts/icons/main/mainfont/style.css')}}>
    <link rel="stylesheet" href={{ asset('aaassets/fonts/icons/font-awesome/css/font-awesome.min.css')}}>

    <!-- Vendor -->
    <link rel="stylesheet" href={{ asset("aaassets/vendor/bootstrap/v3/bootstrap.min.css")}}>
    <link rel="stylesheet" href={{ asset("aaassets/vendor/bootstrap/v4/bootstrap-grid.css")}}>
    <!-- Custom -->
    <link rel="stylesheet" href={{ asset("aaassets/css/style.css")}}>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src={{ asset("https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")}}></script>
    <script src={{ asset("https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")}}></script>
    <![endif]-->
</head>
<body>
<!-- HEADER -->
<header>

</header>

<!-- MAIN -->
<main>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <br>
        <br>

        <div class="nav">
            <div class="nav__categories js-dropdown">
                <div class="nav__select">
                    <div class="btn-select" data-dropdown-btn="categories">All Categories</div>
                    <nav class="dropdown dropdown--design-01" data-dropdown-list="categories">
                        <ul class="dropdown__catalog row">
                            {% for c in categories %}
                                <li class="col-xs-6"><a href="{{ path('findcategorie') }}" class="category"><i class="bg-4436f8"></i>{{ c.nameCategorie }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
                <div class="nav__select">
                    <div class="btn-select" data-dropdown-btn="tags">Tags</div>
                    <div class="dropdown dropdown--design-01" data-dropdown-list="tags">
                        <div class="tags">
                            {% for c in questions %}
                            {% if c.tag is not null %}
                            <a href="#" class="bg-36b7d7">{{ c.Tag }}</a>
                            {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>


            <div class="nav__menu js-dropdown">
                <div class="nav__select">
                    <div class="btn-select" data-dropdown-btn="menu">Latest</div>
                    <div class="dropdown dropdown--design-01" data-dropdown-list="menu">
                        <ul class="dropdown__catalog">
                            <li><a href="#">Latest</a></li>
                            <li><a href="#">Unread</a></li>
                            <li><a href="#">Rising</a></li>
                            <li><a href="#">Most Liked</a></li>
                            <li><a href="#">Follow Feed</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>





            <div class="posts__head">
               <div class="posts__topic">Question</div>
                    <div class="posts__category">Catégorie</div>
                    <div class="posts__users">Users</div>
                    <div class="posts__replies">Réponses</div>
                    <div class="posts__views">Vues</div>
            </div>


    <table class="table table-stripe">
        {% for question in questions %}
            <tr>
                <td>
                    <div class="posts__body">

                        <div class="posts__item bg-f2f4f6">
                            <div class="posts__section-left">
                                <div class="posts__topic">
                                    <div class="posts__content">
                                        <a href="{{ path('reponse_index', {'idquestion': question.id})}}" class="pn">{{ question.question }}</a>

                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                                            <div class="btn-group" role="group">
                                                <i id="btnGroupDrop1" type="button" class="fa fa-ellipsis-h" data-toggle="dropdown" aria-hidden="true" aria-haspopup="true" aria-expanded="false">
                                                </i>
                                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                    <a href="{{ path('question_edit', {'id': question.id}) }}">modifier</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="posts__tags tags">
                                            {% if question.Tag is not null %}
                                                <a href="#" class="bg-36b7d7">{{ question.Tag }}</a>
                                            {% endif %}
                                        </div>
                                        <div class="topic__footer">
                                            <div class="col-md-pull-0" >

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="posts__category"><a href="#" class="category"><i class="bg-4436f8"></i>{{ categorie.namecategorie}}</a></div>
                            </div>
                            <div class="posts__section-right">
                                <div class="posts__users">
                                    <div>
                                        <a href="#" class="avatar"><img src="{{ asset('aassets/fonts/icons/avatars/L.svg') }}" alt="avatar"></a>
                                    </div>
                                    <div>
                                        <a href="#" class="avatar"><img src="{{ asset('aassets/fonts/icons/avatars/T.svg') }}" alt="avatar"></a>
                                    </div>
                                </div>
                                <div class="posts__replies">{{ question.nbrReponse }}</div>
                                <div class="posts__views">
                                    {{ question.nbrVue }}

                                </div>
                            </div>
                        </div>

                    </div>

                </td>
            </tr>
        {% endfor %}


        </table>
        <a href="{{ path('question_new' ,{'idcategorie': idcategorie }) }}">Ajouter une question</a>
</main>
<!-- FOOTER -->
<footer>
</footer>

<!-- JAVA SCRIPT -->
<script src={{ asset("aaassets/vendor/jquery/jquery.min.js")}}></script>
<script src={{ asset("aaassets/vendor/velocity/velocity.min.js")}}></script>
<script src={{ asset("aaassets/js/app.js")}}></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $( document ).ready(function() {
        var currentRequest = null;
        $("#search").keyup(function(e){

            var value = $(this).val();
            if(currentRequest != null) {
                currentRequest.abort();
            }

            currentRequest = $.ajax({

                url : "{{ path('rechercheajaxQuestion') }}",
                type : 'GET',
                data: {
                    'searchValue' : value
                },

                success : function(retour)
                {
                    $('#all').html(retour);

                },
            });
            return false;
        });
    });
</script>

</body>
</html>

{% endblock %}

